<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= landmark.title %> | Seer-Site </title>
</head>
<body>
    <h1><%= landmark.title %></h1>
    <h2><%= landmark.location %> </h2>
    <a href="/landmarks/<%= landmark._id %>/edit">Edit this landmark</a>
    <br>
    <br>
    <a href="/landmarks/">All Landmarks</a>
</body>
</html>